<h1>我的折價券</h1>

<table class="table table-hover" data-controller="clipboard">
  <thead>
    <tr>
      <td>折價券名稱</td>
      <td>折價</td>
      <td>折價券代碼</td>
      <td>使用期限</td>
      <td>使用狀態</td>
      <td>其他</td>
    </tr>
  </thead>
  <tbody>
    <% @my_coupons.each do |coupon| %>
    <tr class="couponTr">
      <td>
        <%= coupon.title %>
      </td>
      <td class="text-primary text-lg"><%= coupon.discount %></td>
      <td data-clipboard-target="source" class="discountCode"><%= coupon.code %></td>
      <td><%= coupon.end_time ? coupon.end_time.strftime("%Y/%m/%d %T") : "無期限" %></td>
      <td><%= coupon.coupon_status(coupon.status) %></td>
      <td>
        <span class="btn btn-xs btn-danger" data-action="click->clipboard#copy">
          複製代碼
        </span>
      </td>
      <td class="message position-fixed z-index-3 end-0 translate-middle-x"></td>
    </tr>
    <% end %>
  </tbody>
</table>
