<nav class="navbar navbar-expand-lg" style="background-color: #f43f5e;" data-controller="aaa">
  <div class="container-fluid d-flex">
    <div class="d-flex flex-nowrap nav">
      <a class="navbar-brand text-white" href="/">五倍書店</a>
      <%= link_to '進入後台', admin_products_path, class:"nav-link active text-white" if current_user && current_user.admin? %>
      <%= link_to '折價券專區', coupons_path, class:"nav-link active text-white" %>
    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to '我的訂單', "#", class:"nav-link active text-white"%>
      </li>
      <li class="nav-item">
        <%= link_to '我的折價券', my_coupons_coupons_path, class:"nav-link active text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to '我的購物車', cart_path, class: "nav-link active text-white" %>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%= link_to'登出', destroy_user_session_path, method: :delete, class:"nav-link active text-white" %>
      </li>
      <li class="nav-item d-flex">
        <%= link_to '修改密碼', edit_registration_path(:user), class:"nav-link active text-white" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to '註冊', new_registration_path(:user), class:"nav-link active text-white" %>
      </li>
      <li class="nav-item">
        <%= link_to '登入', new_session_path(:user), class:"nav-link active text-white" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

