<%=form_with url: "https://ccore.newebpay.com/MPG/mpg_gateway", method: "post" do |form| %>
  <div class="d-none">
    <%= form.text_field :MerchantID, value: @form_info[:MerchantID] %>
    <%= form.text_field :TradeInfo, value: @form_info[:TradeInfo] %>
    <%= form.text_field :TradeSha, value: @form_info[:TradeSha] %>
    <%= form.text_field :Version, value: @form_info[:Version] %>

  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">總計</td>
      <td><%= current_cart.total_price %></td>
    </tr>  
  </tfoot>
</table>
  <div>
    總金額
    <%= @total_price %>
  </div>
  <%= form.submit "確認付款", class: "btn btn-primary" %>
<% end %>
</div>
